@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "League Spartan", sans-serif;
    background-color: #f1f1f1;
}


/* Menu superior desktop */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  color: white;
  padding: 15px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Menu responsivo */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.sidebar {
  position: fixed;
  left: -350px;
  width: 250px;
  height: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 0;
  border-bottom: 1px solid #444;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}


.container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


main {
    text-align: center;
}

h1 {
    color: #5a9a33;
    margin-bottom: 20px;
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 30px;
    color: black;
    font-size: 17px;
    text-align: left;
}

select, input, .add-photo-btn {
    width: 90%;
    text-align: center;
    color: #444;
    padding: 12px;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 14px;
}

select {
    appearance: none;
    background: url('data:image/svg+xml;base64,PHN2ZyB...') no-repeat right center;
    background-size: 12px;
}

.add-photo-btn {
    background-color: #f1f1f1;
    cursor: pointer;
    text-align: center;
}


.btn {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 30px auto; 
    display: block;
    background-color: white;
    color: #4CAF50;
    font-size: 20px;
    border: 1px solid #4CAF50;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #45a049;
    color: white;
    border: 1px solid black;
}

#preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.preview-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 10px;
}





@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }
  
    .menu-toggle {
        display: block;
    }
  
    .container {
        margin: 10px;
        margin-top: 70px;
        max-width: 100%;
        padding: 20px;
    }


    select, input, .add-photo-btn {
        font-size: 16px;
    }
    select, input, .add-photo-btn {
      width: 80%;
      text-align: left;
      color: #444;
      padding: 12px;
      border: 2px solid black;
      border-radius: 40px;
      font-size: 14px;
  }
  
  select {
      appearance: none;
      background: url('data:image/svg+xml;base64,PHN2ZyB...') no-repeat right center;
      background-size: 1px;
  }
  
  .add-photo-btn {
      background-color: #f1f1f1;
      cursor: pointer;
      text-align: center;
  }
}
