@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family:  "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
   
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #1e9bd1;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.card a {
    display: block;
    text-decoration: none;
    color: inherit;
}




 
 @media (max-width: 680px) {


    .grid {
        margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
     }
  

    
}
 
