@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #45a049;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  "League Spartan", sans-serif;;
}

.container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    max-width: 430px;
    width: 100%;
    text-align: center;
}
.back-button {
    display: block;
    text-align: left;
    margin-bottom: 20px;
}

.back-button svg {
    width: 20px;
    height: 20px;
    fill: black;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

p {
    color: #000000;
    margin-bottom: 15px;
    
}

label {
    color: #333;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: League Spartan;
}

input[type="email"] {
    width: 85%;
    text-align: center;
    height: 25px;
    padding: 10px;
    border-radius: 28px;
    border: 2px solid #333;
    margin-bottom: 10px;
}


a {
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: white;
    color: #4CAF59;
    font-size: 20px;
    padding: 15px 20px;
    border: 1px solid #45a049;
    border-radius: 30px ;
    cursor: pointer;
    margin-left: 60px;
    width: 60%;
    height: 22px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}

.btn:hover {
    background-color: #45a049;
    color: #f7f7f7;
    text-decoration: none;
    border: 1px solid black;
}
 /* Estilos do Pop-up */
 .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #4CAF50;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 480px) {
    body {
        background: url('../../src/assets/img/fundo-rec-senha.png') no-repeat center center;
        background-size: cover;
        background-color: #45a049;
        overflow: hidden;
    }
    
    .container {
        padding: 30px;
        height:  640px;
        margin-top: 270px; 
        border-bottom-left-radius: 1px; 
        border-bottom-right-radius: 1px; 

    }

    input[type="email"], .btn {
        padding: 12px;
        font-size: 14px;
    }
}