@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


body {
    font-family:  "League Spartan", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    padding: 20px;
    margin: 20px;
}

.card h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.card h3 {
    color: #4caf50;
    margin-top: 15px;
}

.card p {
    color: #555555;
    line-height: 1.6;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 15px;
    }

    .card h2 {
        font-size: 1.5em;
    }

    .card h3 {
        font-size: 1.2em;
    }
}
